import numpy as np
import pandas as pd

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('Data.xlsx')

In [3]:
# data = data.

In [4]:
data.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
0,0,2021-01-11,10946,5.0,29606863,350.0,21.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,50.6455,2.9619,6.6,18.137448,15.582,15.114540,0.0
1,1,2021-01-11,19898,2.0,29606863,140.0,8.4,7,1,1,...,NaN,NaN,NaN,50.6455,2.9619,5.0,17.396467,14.688,14.497056,0.0
2,2,2021-01-11,80176,4.0,29606863,280.0,16.8,7,1,1,...,NaN,NaN,NaN,50.6455,2.9619,0.0,12.279859,10.368,10.233216,0.0
3,3,2021-01-11,66989,1.0,29606863,70.0,4.2,7,1,1,...,"6,000 L",-,SUPER PREMIUM,50.6455,2.9619,8.0,21.996000,18.330,18.330000,0.0
4,4,2021-01-08,11766,70.0,29378784,70.0,4.2,6,1,1,...,NaN,NaN,NaN,50.6978,2.2423,5.2,17.359200,14.466,14.466000,0.0

In [5]:
data.fillna(method='ffill')

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
0,0,2021-01-11,10946,5.0,29606863,350.0,21.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,50.6455,2.9619,6.6,18.137448,15.582,15.114540,0.0
1,1,2021-01-11,19898,2.0,29606863,140.0,8.4,7,1,1,...,"6,000 L",Blonde,PREMIUM,50.6455,2.9619,5.0,17.396467,14.688,14.497056,0.0
2,2,2021-01-11,80176,4.0,29606863,280.0,16.8,7,1,1,...,"6,000 L",Blonde,PREMIUM,50.6455,2.9619,0.0,12.279859,10.368,10.233216,0.0
3,3,2021-01-11,66989,1.0,29606863,70.0,4.2,7,1,1,...,"6,000 L",-,SUPER PREMIUM,50.6455,2.9619,8.0,21.996000,18.330,18.330000,0.0
4,4,2021-01-08,11766,70.0,29378784,70.0,4.2,6,1,1,...,"6,000 L",-,SUPER PREMIUM,50.6978,2.2423,5.2,17.359200,14.466,14.466000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73665,73665,2019-12-30,17028,2.0,29446255,140.0,8.4,8,1,1,...,"6,000 L",Rituel,PREMIUM,47.7993,-0.7210,9.0,23.575622,20.856,19.646352,0.0
73666,73666,2019-12-30,33335,2.0,29446255,140.0,8.4,8,1,1,...,"6,000 L",Rosée,PREMIUM,47.7993,-0.7210,3.0,19.770696,17.490,16.475580,0.0
73667,73667,2019-12-30,53566,2.0,29446255,140.0,8.4,8,1,1,...,"6,000 L",IPA,PREMIUM,47.7993,-0.7210,7.5,23.575622,20.856,19.646352,0.0
73668,73668,2019-12-30,63482,1.0,29446255,70.0,4.2,8,1,1,...,"6,000 L",IPA,PREMIUM,47.7993,-0.7210,5.1,14.576040,12.786,12.146700,0.0
73669,73669,2019-12-30,66989,6.0,29446255,420.0,25.2,8,1,1,...,"6,000 L",-,SUPER PREMIUM,47.7993,-0.7210,8.0,21.996000,18.330,18.330000,0.0

In [6]:
column_na = list(data.columns)[18:25]
column_na

['Brand',
 'Subrand',
 'SEGMENTS : Pils / Spécialités / Superspécialités/Bouteille Young adult',
 'Container Type',
 'Container Size',
 'Variétés',
 'Segment LE']

In [7]:
data.Brand

0                   LEFFE
1                     NaN
2                     NaN
3        TRIPLE KARMELIET
4                     NaN
               ...
73665               LEFFE
73666          HOEGAARDEN
73667               LEFFE
73668                 NaN
73669    TRIPLE KARMELIET
Name: Brand, Length: 73670, dtype: object

In [8]:
data.Brand.fillna(method="ffill")

0                   LEFFE
1                   LEFFE
2                   LEFFE
3        TRIPLE KARMELIET
4        TRIPLE KARMELIET
               ...
73665               LEFFE
73666          HOEGAARDEN
73667               LEFFE
73668               LEFFE
73669    TRIPLE KARMELIET
Name: Brand, Length: 73670, dtype: object

In [9]:
for col in column_na:
    data[col] = data[col].fillna(method="ffill")

In [10]:
data[column_na[3]]

0        PERFECT DRAFT
1        PERFECT DRAFT
2        PERFECT DRAFT
3        PERFECT DRAFT
4        PERFECT DRAFT
             ...
73665    PERFECT DRAFT
73666    PERFECT DRAFT
73667    PERFECT DRAFT
73668    PERFECT DRAFT
73669    PERFECT DRAFT
Name: Container Type, Length: 73670, dtype: object

In [11]:
data[column_na[-2]].str.replace('-','No var')

0        Blonde
1        Blonde
2        Blonde
3        No var
4        No var
          ...
73665    Rituel
73666     Rosée
73667       IPA
73668       IPA
73669    No var
Name: Variétés, Length: 73670, dtype: object

In [12]:
# data.to_csv('cleaned_data.csv')

# Understanding the Data

In [13]:
data.describe()

,Unnamed: 0,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,MACO/HL,Postal Code,Dépt,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
count,73670.000000,7.367000e+04,73670.000000,7.367000e+04,73666.000000,73670.000000,73670.000000,73670.000000,73670.000000,68972.000000,73670.000000,72843.000000,69652.000000,69652.000000,70821.000000,70806.000000,70821.000000,70806.000000,70821.000000
mean,36834.500000,3.584769e+04,57.293573,2.949981e+07,90.574689,18.844506,6.764260,0.904412,0.833026,152.099186,53939.645989,54.616875,47.159685,2.502411,5.807900,42.663866,37.012727,35.548765,0.004473
std,21266.841503,6.137106e+04,123.477770,7.424384e+05,170.056738,993.925627,4.044058,0.294028,0.372955,36.736746,25557.863282,23.993058,2.303527,2.620547,1.564772,27.615340,23.535969,23.015250,0.021286
min,0.000000,3.337000e+03,1.000000,2.937878e+07,0.000000,0.000000,-11.000000,0.000000,0.000000,25.345586,2500.000000,2.000000,42.467800,-4.316700,0.000000,6.408000,5.340000,5.340000,0.000000
25%,18417.250000,1.094600e+04,6.000000,2.937963e+07,20.000000,1.800000,6.000000,1.000000,1.000000,133.095305,34070.000000,35.000000,45.416800,0.228700,4.900000,18.093600,15.582000,15.078000,0.000000
50%,36834.500000,2.061400e+04,20.000000,2.937982e+07,48.000000,4.200000,6.000000,1.000000,1.000000,150.689825,59155.000000,59.000000,47.608900,2.448900,5.200000,25.027200,23.712000,20.856000,0.000000
75%,55251.750000,6.270700e+04,70.000000,2.953724e+07,90.000000,12.600000,7.000000,1.000000,1.000000,180.045916,73700.000000,73.000000,48.986900,4.484100,6.600000,62.726496,55.520000,52.272080,0.000000
max,73669.000000,7.519873e+06,7540.000000,4.001699e+07,7540.000000,248820.000000,126.000000,1.000000,1.000000,231.861733,95500.000000,95.000000,50.962300,9.389600,9.000000,110.412000,92.010000,92.010000,0.294000

In [18]:
column_na[-2]

'Variétés'

In [21]:
data.rename(columns = {column_na[-2]:'Varieties'}, inplace = True)

In [22]:
data.columns

Index(['Unnamed: 0', 'Doc. Date', 'Material', 'Order qty', 'Ship-to nu',
       'PCS delivered', 'HL delivered', 'delivery_days', 'delivery_flag',
       'lead_time_creation_vs_rdd_flag', 'MACO/HL ', 'Groupement',
       'Postal Code', 'Street', 'Sous groupement', 'M2_Territory_ID',
       'M1_Territory_ID', 'Dépt', 'Brand', 'Subrand',
       'SEGMENTS : Pils / Spécialités / Superspécialités/Bouteille Young adult',
       'Container Type', 'Container Size', 'Varieties', 'Segment LE',
       'Latitude', 'Longitude', 'Degre Alc', 'TTC', 'Brut + TE',
       'Net + TE - Hors majoration de rompu de palette', 'DA'],
      dtype='object')

In [34]:
print(len(data.Brand.unique()),
      len(data.Subrand.unique()),
      len(data.Material.unique()))

10 25 179

In [42]:
print(len(data.Groupement.unique()),
     len(data['Sous groupement'].unique()))

5 113